<header id="header">
  <div class="container">
    <a href="#" id="logo" title="HarrisonHighSchool">HarrisonHighSchool</a>
    <div class="menu-trigger"></div>
    <nav id="menu">
      <ul>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Events</a></li>
       </ul>
       <ul>
         <li><a href="#">Teachers</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#" class="get-contact">Contact</a></li>
         </ul>
    </nav>
    <!-- / navigation -->
  </div>
  <!-- / container -->

</header>
<!-- / header -->